<div class="calendar">
    <div class="timeInput input-group">
        <input class="form-control" value=""/>
        <button type="button" id="submit" class="btn btn-primary">提交</button>
    </div>
    <div class="calendarArea">
    </div>
</div>